{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center" >Continent Map · Choix du pays</h1>
<div class="continent-map text-center">
    <img src=" {{ asset('images/europa.png') }} " usemap="#continent-map">
    <map name="continent-map">
        <!-- TODO -->
    </map>
</div>
{% endblock %}